main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

input {
    display: none;
    margin: 10px;
}

.hidden {
    display: none;
}